.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  overflow: hidden;
  position: relative;
}

.content-wrapper {
  text-align: center;
  z-index: 1;
  padding: 20px;
}
